<section class="homepage">
    <div class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto greeting">
                <h1>Project Blueprint</h1>
                <p>This will be a brief description of what problem this app solves.</p>
                <div class="call-to-action">
                    <a href="users/new.html" class="btn sign-up my-2">Sign Up</a>
                    <a href="login.html" class="btn btn-outline-dark my-2">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>







