<header class="homepage">
    <div class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto greeting">
                <h1>Project Blueprint</h1>
                <p>This will be a brief description of what problem this app solves.</p>
                <div class="call-to-action">
                    <a href="users/new.html" class="btn btn-primary my-2">Sign Up</a>
                    <a href="login.html" class="btn btn-outline-dark my-2">Login</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section-features">
    <div class="row">
        <h2>The Blueprint to Sucess</h2>
    </div>
    <div class="row">
        <div class="col text-center">
            <ion-icon name="bulb" class="icon-big"></ion-icon>
            <h3>Create</h3>
            <p class="long-copy">Let the creative ideas flow and easily design a project along with all of its various requirements</p>
        </div>
        <div class="col text-center">
        <ion-icon name="checkmark-circle" class="icon-big"></ion-icon>
            <h3>Track</h3>
            <p class="long-copy">Layout your project requirements to easily track and manage them for the duration of your project.</p>
        </div>
        <div class="col text-center">
            <ion-icon name="infinite" class="icon-big"></ion-icon>
            <h3>Repeat</h3>
            <p class="long-copy">Easily edit or delete your project, requirements or deadlines as they progress. </p>
        </div>
    </div>
</section>







