<section>
    <h2><%= current_user.name %>'s Projects</h2>

    <h3><%= flash[:message]%></h3>

    <div class=" row justify-content-left">
        <div class="col-4">
            <div class="py-5 text-center container">
                <ul class="project-list">
                    <% @projects.each do |project| %>
                        <li><a href="#"class="project-list"><%= link_to project.name, project_path(project) %></a></li>
                        <br>
                    <% end %> 
                </ul>
            </div>
        </div>
    </div>
  
</section>